section{position:relative;margin: 0 auto 10vw;padding: 0 2vw;padding-top: 7vw;min-height: 46vw;}
article{float: left;width: 33.3%;padding: 0 2vw;display: table;}
article img{width: 100%;}
article h4{font-weight: 700;padding-top: 2vw;}
.ofrecidos{padding: 5vw 10vw;width: 60%;margin: 5vw auto;background: #fff;border: solid .2vw #d9d9d9;}
.ofrecidos p{color: #95979d;margin-bottom:2vw;text-align: justify;}
.ofrecidos img{max-width: 100%}
.ofrecidos h4{margin-top: 5vw;color: #7a7d85;}